---
interface Props {
	name: string;
	class?: string;
	size?: number;
}

const { name, class: className, size = 20 } = Astro.props;

const icons = import.meta.glob('/src/assets/images/socialIcons/*.svg', { 
	query: '?raw', 
	import: 'default' 
});

let svgContent = "";
const filePath = `/src/assets/images/socialIcons/${name}.svg`;

if (icons[filePath])
	svgContent = await icons[filePath]() as string;
else
	console.error(`Icon "${name}" not found in src/assets/images/socialIcons/`);
---

<div
	class:list={["inline-flex [&>svg]:w-full [&>svg]:h-full", className]}
	style={{ width: `${size}px`, height: `${size}px` }}>
	<Fragment set:html={svgContent} />
</div>