---
import Navbar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import { ClientRouter, slide } from 'astro:transitions';
import "katex/dist/katex.min.css";
import "@fontsource/fira-code";

/**
 * If working with frontmatter, then same rules as following for frontmatter.*
 * - `title`, `description` are *required*
 * - `image` is for the embed
 * - `backgroundImage` is for the actual pages' background
 * - `pubDate` is the date of publication (mainly for listings)
 * - `lastModified` is in the case if there's any edit on the page, when it was lastModified
 * - `tags` is the list of... well... tags?
 */
interface Props {
	title?: string;
	description?: string;
	image?: string;
	backgroundImage?: string;
	pubDate?: Date | string;
	lastModified?: Date | string;
	tags?: string[];
	frontmatter?: {
		title?: string;
		description?: string;
		image?: string;
		backgroundImage?: string;
		pubDate?: Date | string;
		lastModified?: Date | string;
		tags?: string[];
	}
}

const brandName = "TheDefectiveDetective";
const DEFAULT_IMAGE = "/images/face.jpg";

// loading our Astro properties
const {
	title,
	description,
	image,
	backgroundImage,
	tags,
	pubDate,
	lastModified,
	frontmatter
} = Astro.props;

const metaDescription = description || frontmatter?.description;
const displayImage = image || frontmatter?.image || DEFAULT_IMAGE;
const displayTitle = title || frontmatter?.title;
const bgImage = backgroundImage || frontmatter?.backgroundImage;
const publishedTime = pubDate || frontmatter?.pubDate;
const modifiedTime = lastModified || frontmatter?.lastModified;
const articleTags = tags || frontmatter?.tags;

// Validating our availability of a title, description
if (!displayTitle) throw new Error(`❌ MISSING TITLE: The page "${Astro.url.pathname}" has no title!`);
if (!metaDescription) throw new Error(`❌ MISSING DESCRIPTION: The page "${Astro.url.pathname}" has no description!`);

// SEO BS
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(displayImage, Astro.site || Astro.url.origin).href;

// Acrylic Background Images
const bodyStyle = bgImage ? `background-image: url('${bgImage}')` : "";
const bodyClass = bgImage ? `bg-cover bg-center bg-fixed min-h-screen text-text-main` : "bg-bg-main min-h-screen text-text-main";

const mainClass = bgImage ? "max-w-5xl sm:px-12 mx-auto px-6 py-10 prose-catppuccin bg-bg-main/85 backdrop-blur-md rounded-xl shadow-2xl border border-text-muted/20 my-10" : "max-w-5xl sm:px-12 mx-auto px-6 py-10 prose-catppuccin"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="sitemap" href="/sitemap-index.xml"/>
		<!-- This is for utilising the default favicon -->
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<!-- My own favicon >:)  -->
		<link rel="icon" type="image/svg+xml" href="/favicon_custom.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>{displayTitle}</title>

		<!-- This is all just SEO BULLSHIT -->
		<meta name="title" content={displayTitle} />
		<meta name="description" content={metaDescription} />
		<link rel="canonical" href={canonicalURL} />

		<meta property="og:type" content="website" />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:title" content={displayTitle} />
		<meta property="og:description" content={metaDescription} />
		<meta property="og:image" content={socialImageURL} />

		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content={canonicalURL} />
		<meta property="twitter:title" content={displayTitle} />
		<meta property="twitter:description" content={metaDescription} />
		<meta property="twitter:image" content={socialImageURL} />

		<meta property="og:site_name" content={brandName} />
		<!-- <link rel="alternate" type="application/rss+xml" title={brandName} href={new URL("/blog/rss.xml", Astro.site)} -->
		{publishedTime && <meta property="article:published_time" content={new Date(publishedTime).toISOString()} />}
        {modifiedTime && <meta property="article:modified_time" content={new Date(modifiedTime).toISOString()} />}
        {articleTags && articleTags.map((tag) => <meta property="article:tag" content={tag} />)}

		<script src="../scripts/copyCode.js"></script>
		<ClientRouter />

		<script is:inline type="application/ld+json" set:html={
			JSON.stringify({
				"@context": "https://schema.org",
				"@type": publishedTime ? "BlogPosting" : "WebSite",
				"headline": displayTitle,
				"image": socialImageURL,
				"author": {
					"@type": "Person",
					"name": brandName,
					"url": new URL("/", Astro.site),
				},
				"datePublished": publishedTime ? new Date(publishedTime).toISOString() : undefined,
				"description": metaDescription
			})} />
	</head>
	<body style={bodyStyle} class={bodyClass}>
		<Navbar brandName={brandName} />
		<main class={mainClass} transition:animate={slide({ duration: "0.8s" })}>
			<slot />
		</main>

		<Footer />
	</body>
</html>
